<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="../static/styles/index.css"
      type="text/css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="../static/styles/global.css"
      type="text/css"
      media="screen"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="navbar">
          <a href="/">Home</a>
          <a href="/work">Work</a>
          <a href="/hobbies">Hobbies</a>
          <a href="/schedule">Schedule</a>
        </div>
        <div>
          <h1 style="font-weight: 700; font-size: 2.5rem; color: #303030">
            Hey I am
          </h1>
          <h2 style="font-weight: bold; font-size: 3.2rem; color: #ec5151">
            Amrik Malhans
          </h2>
          <p style="font-size: 1.3rem; color: #303030; margin-top: 1rem">
            I am a Full-stack Developer and I love to make apps for the web
            using technologies like React, TypeScript, Go and PostgreSQL. I am a
            student at
            <a
              style="
                color: #ec5151;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 500;
              "
              href="https://www.tru.ca/"
              target="_blank"
              >Thompson Rivers University</a
            >
            studying Computer Science. I love programming, philosophy, reading
            books, and being productive.
          </p>
          <div class="socials">
            <ul>
              <li>
                <a
                  href="
                  https://www.linkedin.com/in/amrik-malhans-1b1b3a1b2/"
                  target="_blank"
                  ><img
                    loading="lazy"
                    src="../static/assets/linkedin.png"
                    alt="linkedin"
                /></a>
              </li>
              <li>
                <a
                  href="
                  https://www.instagram.com/amrikmalhans/"
                  target="_blank"
                  ><img
                    loading="lazy"
                    src="../static/assets/instagram.png"
                    alt="instagram"
                /></a>
              </li>
              <li>
                <a
                  href="
                https://www.github.com/amrikmalhans/"
                  target="_blank"
                  ><img
                    loading="lazy"
                    src="../static/assets/github.png"
                    alt="github"
                /></a>
              </li>
              <li>
                <a
                  href="
                https://www.twitter.com/amrikmalhans/"
                  target="_blank"
                  ><img
                    loading="lazy"
                    src="../static/assets/twitter.png"
                    alt="twitter"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img loading="lazy" src="../static/assets/amrik-4.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
