<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../static/styles/work.css" type="text/css" />
    <link rel="stylesheet" href="../static/styles/global.css" type="text/css" />

    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.png" />
    <title>Work</title>
  </head>
  <body>
    <div style="margin: 0 auto; margin-top: 1.2rem" class="navbar">
      <a href="/">Home</a>
      <a href="/work">Work</a>
      <a href="/hobbies">Hobbies</a>
      <a href="/schedule">Schedule</a>
    </div>

    <h1
      style="
        text-align: center;
        font-size: 2.5rem;
        margin: 30px 0;
        color: #ec5151;
      "
    >
      /Work Experience
    </h1>

    <div class="container">
      <div class="work-experience">
        <h2>Full-stack Developer @ Brookbush Institute</h2>
        <h3>August 2022 - Present</h3>
        <p>
          I am currently working as a Software Engineer at Brookbush Institute
          where I am responsible for building the full stack of the application
          using technologies like NextJS, TypeScript, Prisma, and PostgreSQL.
        </p>
      </div>

      <div class="work-experience">
        <h2>Backend Engineer @ Cryptokek</h2>
        <h3>June 2021 - July 2022</h3>
        <p>
          I was responsible for the development of the API with TypeScript,
          Node.js, and PostgreSQL. I was involved in migrating the existing
          RESTful API from Node.JS to Golang and also worked on developing
          various algorithms for the backend to provide new data analytics of
          the crypto market.
        </p>
      </div>

      <div class="work-experience">
        <h2>Full-stack Developer @ Cloutwallet</h2>
        <h3>March 2021 - July 2021</h3>
        <p>
          I worked at Cloutwallet as a Backend Engineer where I contributed on
          building GraphQL API from an existing blockchain RESTful API and
          created backend solutions for the app using technologies like
          TypeScript, GraphQL, Node.JS and Postgres/Firebase.
        </p>
      </div>

      <div class="work-experience">
        <h2>Full-stack Developer @ Freelancing</h2>
        <h3>Sept 2019 - March 2021</h3>
        <p>
          I started freelancing back in high school when I was 16 years old. I
          have worked with various clients and helped them to build their
          websites and web applications. I have worked with technologies like
          React, TypeScript, Node.JS, and PostgreSQL. I have worked with people
          around the world, and learned a lot during my freelancing journey.
        </p>
      </div>
    </div>

    <div class="footer">
      Contact me at:
      <a href="mailto:amrikdeveloper@gmail.com">Email</a> |
      <a
        href="
      tel:778-220-1234
      "
        >Phone</a
      >
    </div>
  </body>
</html>
