table {
  width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 8rem;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px 12px;
  position: relative;
}

td:hover {
  background-color: #f5f5f5;
}

td:hover::after {
  left: auto;
  right: -10000px;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
