.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.work-experience {
  background-color: #f1f1f1;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2.4rem;
}

.work-experience h2 {
  font-size: 1.2rem;
  color: #ec5151;
}

.work-experience h3 {
  font-weight: 600;
  font-size: 1rem;
}

.work-experience h2,
.work-experience h3,
.work-experience p {
  margin-bottom: 14px;
}
